<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>ECHO</title>
  <link rel="stylesheet" href="../static/css/contact.css" />
</head>

<body>



      <div class="container">
  
  <form name="myForm">
            <h1>GIVE US YOUR FEEDBACK<br><br>
              <br>
            </h1>
            <div class="id">
              <input type="text" required name="fname">
              <label>Name</label>

            </div>
            <div class="id">
              <input type="email" required name="femail">
              <label>Email Address</label>

          </div>
          <div class="id">
              <input type="text" required name="fopinions">
              <label>Enter your opinions here</label>
      </div>
      <div class="id">
          <input type="Submit" value="Submit"
             onClick="myFunction()">
    </div>
      <script src="../static/js/contact.js"></script>
    </body>
