<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="https://i.postimg.cc/VJZHXCS3" type="image/x-icon" />
  <title>ECHO</title>
  <link rel="stylesheet" href="css/common.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
 <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  chat-icon="https://image.flaticon.com/icons/png/512/187/187242.png"
  chat-title="Willow"
  agent-id="ac9468e9-36aa-457d-a9e3-df509a6b18ea"
  language-code="en"
></df-messenger>
  </body>

