<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="https://i.postimg.cc/VJZHXCS3" type="image/x-icon" />
  <title>ECHO</title>
  <link rel="stylesheet" href="css/common.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
 
  <div id="container">
    <div class="first-page first-wrap wrap">
      <img class="balloon" src="https://img.pngio.com/gas-balloon-png-transparent-gas-balloonpng-images-pluspng-hot-air-balloons-png-274_350.png">
    </div>
    <div class="second-page second-wrap wrap" style="display: none;">
      <div id="head">
        <img class="logo" src="https://img.pngio.com/gas-balloon-png-transparent-gas-balloonpng-images-pluspng-hot-air-balloons-png-274_350.png"style="width:3%;height:50%">
        <span class="name">
          ECHO
        </span>
      </div>     
         
          <div class="outer-box">
         
            <div class="inner-box">
             <div class="container">
  <div class="overlay" id="overlay">
    <div class="sign-in" id="sign-in">
      <h1>Welcome Back!</h1>
      <p>To keep connected with us please login with your personal info</p>
      <button class="switch-button" id="slide-right-button">Sign In</button>
    </div>
    <div class="sign-up" id="sign-up">
      <h1>Hello, Friend!</h1>
      <p>Enter your personal details and start a journey with us</p>
      <button class="switch-button" id="slide-left-button">Sign Up</button>
    </div>
  </div>
  <div class="form">
    <div class="sign-in" id="sign-in-info">
      <h1>Sign In</h1>
     
      <form id="sign-in-form">      
        <input type="email" placeholder="Email"/>
        <input type="password" placeholder="Password"/>
        <p class="forgot-password">Forgot your password?</p>
        <button class="control-button in">Sign In</button>
      </form>
    </div>
    <div class="sign-up" id="sign-up-info">
      <h1>Create Account</h1>
     
      <form id="sign-up-form">
        <input type="text" placeholder="Name"/>
        <input type="email" placeholder="Email"/>
        <input type="password" placeholder="Password"/>
        <button class="control-button up">Sign Up</button>
      </form>
    </div>
  </div>
</div>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <script type="text/javascript" src="js/slide.js"></script>
  <script type="text/javascript" src="js/common.js"></script>

</body>

</html>
<!-- partial -->
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  chat-icon="https://image.flaticon.com/icons/png/512/187/187242.png"
  chat-title="Willow"
  agent-id="ac9468e9-36aa-457d-a9e3-df509a6b18ea"
  language-code="en"
></df-messenger>
  
</body>
</html>

