<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ECHO</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="../static/css/learn.css" />

  </head>
  <body data-spy="scroll" data-target="#navbar-example">


  <div class="wrapper" >

    <nav class="nav__wrapper" id="navbar-example">
      <ul class="nav">

        <li role="presentation" class="active">
          <a href="#section1">
            <span class="nav__counter">Monday</span>
            <h3 class="nav__title">English</h3>
            <p class="nav__body"><strong>Literature and Grammar</strong>. Learn all there is to know about bards and poets, from their works, to the grammar.</p>
          </a>
        </li>

        <li role="presentation">
          <a href="#section2">
            <span class="nav__counter">Tuesday</span>
            <h3 class="nav__title">Social Studies</h3>
            <p class="nav__body">Be it <strong> History, Geography, Civics or Economics </strong>, let your thirst for knowledge be quenched here.</p>
          </a>
        </li>

        <li role="presentation">
          <a href="#section3">
            <span class="nav__counter">Wednesday</span>
            <h3 class="nav__title">Science</h3>
            <p class="nav__body">Do you want to know about the secrets of the world? <strong> If Biology, Chemistry or Physics </strong> is your strong suit, then this is your day!</p>
          </a>
        </li>

        <li role="presentation">
          <a href="#section4">
            <span class="nav__counter">Thursday</span>
            <h3 class="nav__title">Mathematics</h3>
            <p class="nav__body">If you want to decode the mysteries of nature with a little help from <strong> Mathematics </strong>, you've come to the right place.</p>
          </a>
        </li>

        <li role="presentation">
          <a href="#section5">
            <span class="nav__counter">Friday</span>
            <h3 class="nav__title">Hindi</h3>
            <p class="nav__body"><strong>Vyakhyamsh</strong> ho, ya phir <strong>sahitya</strong>. Jo bhi accha lage, use apna lo.</p>
          </a>
        </li>

        <li role="presentation">
          <a href="#section6">
            <span class="nav__counter">Saturday</span>
            <h3 class="nav__title">Revision</h3>
            <p class="nav__body">Studying is important, but, <strong> revising</strong> is vital.</p>
          </a>
        </li>
        <li role="presentation">
          <a href="#section7">
            <span class="nav__counter">Relaxation Time</span>
            <h3 class="nav__title">Take a break</h3>
            <p class="nav__body">Let's relax for a while!</p>
          </a>
        </li>

      </ul>
    </nav>

    <section class="section section1" id="section1">

     “Whatever the mind of man can conceive and believe, it can achieve.”<br><br>Here is the link to the PDF copy of the reference book. <br> Here is the link for the audiobook for the same. <br>
Do remember to check out the practice tab to try out the questions. <br> Fill this feedback form if you had any issues. <br> Take a break once in a while.
    </section>

    <section class="section section2" id="section2">
    “Life offers you so many doors, it is up to you which to open and which one to close.”<br><br>Here is the link to the PDF copy of the reference book. <br> Here is the link for the audiobook for the same. <br>
Do remember to check out the practice tab to try out the questions. <br> Fill this feedback form if you had any issues. <br> Take a break once in a while.
    </section>

    <section class="section section3" id="section3">
         “The tragedy in life doesn’t lie in not reaching your goal. The tragedy lies in having no goal to reach.”<br><br>Here is the link to the PDF copy of the reference book. <br> Here is the link for the audiobook for the same. <br>
Do remember to check out the practice tab to try out the questions. <br> Fill this feedback form if you had any issues.<br> Take a break once in a while.
    </section>

    <section class="section section4" id="section4">
       “The man who has confidence in himself gains the confidence of others.”<br><br>Here is the link to the PDF copy of the reference book. <br> Here is the link for the audiobook for the same. <br>
Do remember to check out the practice tab to try out the questions. <br> Fill this feedback form if you had any issues.<br> Take a break once in a while.
    </section>

    <section class="section section5" id="section5">
          “Life offers so many great choices, all you have to do is to see them.”<br><br>Here is the link to the PDF copy of the reference book. <br> Here is the link for the audiobook for the same. <br>
Do remember to check out the practice tab to try out the questions. <br> Fill this feedback form if you had any issues.<br> Take a break once in a while.
    </section>

    <section class="section section6" id="section6">
          “Strive not to be a success, but rather to be of value.” <br><br>Here is the link to the PDF copy of the reference book. <br> Here is the link for the audiobook for the same. <br>
Do remember to check out the practice tab to try out the questions. <br> Fill this feedback form if you had any issues. <br> Take a break once in a while.
    </section>
    <section class="section section7" id="section7">
      <div class="outer-container">
<button class="hard-reset">Reset All</button>
<p class="score-1"><span class="points"></span><span class="name"></span></p>
<i class="points-divider">&#124;</i>
<p class="score-2"><span class="points"></span><span class="name"></span></p>
<div class="player-one-turn">
  <p></p>
</div>
<div class="player-two-turn">
  <p></p>
</div>
<div class="board-container">
  <div class="game-starter">
      <p>Would you like to be X or O?</p>
      <button class="choose-x">X</button>
      <button class="choose-o">O</button>
      <button class="back-button"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
    <div class="game-choice">
      <p>How do you want to play?</p>
      <button class="one-player">One Player</button>
      <button class="two-player">Two Player</button>
    </div>
  <div class="game-board">
    <div class="draw-message">
      <p>That was a draw. Better luck next time!</p>
    </div>
    <div class="lose-message">
      <p>Oh no! You lost. Better luck next time!</p>
    </div>
    <div class="win-message">
      <p>You won! Congratulations!</p>
    </div>
    <canvas id="myCanvas"></canvas>
    <ul class="boxes">
    </ul>
  </div>
</div>
</div>
    </section>


  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="../static/js/learn.js"></script>
  </body>
</html>
