<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="https://i.postimg.cc/VJZHXCS3" type="image/x-icon" />
  <title>ECHO</title>
  <link rel="stylesheet" href="../static/css/notes.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <div id="wrapper">

  	<form id="paper" method="get" action="">

  		<div id="margin">Title: <input id="title" type="text" name="title"></div>
  		<textarea placeholder="Write your notes here." id="text" name="text" rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; "></textarea>
  		<br>


  	</form>
		<input id="button" type="submit" value="Create">
  </div>
  <script src="../static/js/notes.js"></script>

  </body>
